.list {
  display: flex;
  padding-bottom: 15px;
  list-style: none;
  border-bottom: 2px solid gray;
}

.item:not(:last-child) {
  margin-right: 15px;
}

.link {
  color: black;
}

.link_active {
  color: rgb(245, 97, 39);
}
